html {
	background: #333;
	background-attachment: fixed !important;
}
body {
	font: normal 12px verdana, arial;
	color: #fff;
	margin: 0px;
	padding: 0px;
}

.fw-even, .fw-odd, .fw-primary, .fw-secondary {
    background: transparent;
}

/*
 * Container surrounding all content on the page
 */

#fw-container {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	width:780px;
}

a,
a:visited {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
a:hover,
a:visited:hover {
	color: #fff;
	text-decoration: underline;
}

code,pre {
	font-size:12px
}

fieldset {
	margin:1em 0;
	padding:1em;
	border:1px solid #CCC
}

legend {
	color:#000;
	font-weight:bold;
}

label {
	cursor:pointer
}

/*
 * This can be used to decorate around any advertisements that appear on the page (non-premium users only)
 * It is STRICTLY forbidden to modify this code as to obstruct the view of the advertisement
 */
#fw-advertisement {
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
	border: 0 ;
	text-align: center;
	width: 780px;
}


/*
 * Container surrounding Site Title, Small Title, Logo, and home-link
 */
#fw-head {
	/*background: transparent url('http://images.freewebs.com/Members/Generationz/CSSStyles/Transparent/Blue/header.gif') no-repeat top left;*/
	margin: 0px;
	padding: 0px;
	padding-top:6px;
	padding-left:25px;
	height: 113px;
	overflow: hidden;
	position: relative;
}

/*
 * Site Title
 */
#fw-head h1 a {
	font: normal 32px arial;
	letter-spacing: -1px;
	color: #fff;
	margin: 0px;
	padding: 0px;
}

/*
 * Site Small Title
 */
#fw-head h2 {
	font: normal 16px arial;
	color: #fff;
	margin: 0px;
	padding: 0px;
}

.fw-logo {
	position:absolute;
	left:610px;
	top:0px;
	width:170px;
	height:113px;
	background-repeat:no-repeat;
	background-position:center;
}

/*
 * NavBar
 * UL containing all the NavBar links
 */

#fw-nav-menu {
	padding: 0px;
	margin-bottom: 10px;
	color: #fff;
	width: 168px;
	float: right;
}

.hasSidebar #fw-nav-menu {
    width: 200px;
}

#fw-nav-menu .fw-nav-level-0 {
	/*background: transparent url('http://images.freewebs.com/Members/Generationz/CSSStyles/Transparent/Blue/bg.png') repeat top left;*/
	margin: 5px 5px 0px 0px;
	padding: 20px 20px 20px 20px;
	list-style: none;
	cursor: default;
	height: 100%;
}

#fw-nav-menu li:hover > ul { left: -154px !important; width: 150px !important; list-style-type: none; background-image: none !important; }
#fw-nav-menu .sfhover .fw-nav-level-1,
#fw-nav-menu .sfhover .sfhover .fw-nav-level-2 { left: -154px !important; width: 150px !important; list-style-type: none; background-image: none !important; }

#fw-nav-menu .fw-nav-level-2 { top: -2px; }

/* html #fw-nav-menu ul {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='http://images.freewebs.com/Members/Generationz/CSSStyles/Transparent/Blue/bg.png');
}*/

/*
 * Individual NavBar LI's
 */

#fw-nav-menu li {
	margin: 0px;
	padding: 2px 0px 2px 0px;
}

/*
 * Individual NavBar links
 */

.hasOneColumn #fw-leftColumn, .hasOneColumn #fw-rightColumn {
	display:none
}
.hasTwoColumns #fw-rightColumn {
	display:none
}
#fw-bigcontain {
    float: left;
    width: 600px;
}
.hasSidebar #fw-bigcontain, .hasSidebar #fw-bigcontain .fw-paragraph {
    width: 570px;
}
#fw-bigcontain .fw-title {
	font: normal 24px arial;
	color: #fff;
	margin: 20px 20px 10px 20px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
}
.fw-paragraph {
	/*background: transparent url('http://images.freewebs.com/Members/Generationz/CSSStyles/Transparent/Blue/bg.png') repeat top left;*/
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	clear: both;
	width: 602px;
}

/* html .fw-paragraph {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='http://images.freewebs.com/Members/Generationz/CSSStyles/Transparent/Blue/bg.png');
}*/

.fw-text {
	margin: 0px 20px 20px 20px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	height: 100%;
	clear: both;
}
.hasSidebar #fw-sidebar { width: 200px; float: right; clear: right; }
#fw-sidebar .fw-title {
	margin-bottom: 10px;
	margin-left: 7px;
	margin-right: 7px;
	padding: 0;
	font-weight:normal !important
}

#fw-sidebar .fw-title a,
#fw-sidebar .fw-titlle a:visited,
#fw-sidebar .fw-title a:hover { color: #fff; text-decoration: none; font-weight: normal; }

#fw-sidebar .fw-text { margin: 0px 7px 20px;font-size:0.9em !important }
#fw-sidebar .fw-paragraph { width: 195px; }
.noSidebar #fw-sidebar { display: none; }

#fw-footer {
	/*background: #002255;*/
	font-size: 10px;
	margin: 0px auto 5px;
	padding-left: 10px; padding-right: 10px; padding-top: 3px;
	color: #fff;
	text-align: left;
	width: 758px;
}

.clears { clear: both; }
.fw-footertext { border: 0px solid green; height: 20px; }
.fw-footer p {
	padding: 10px 20px 10px 20px;
	margin: 0px;
}
.fw-tracker {
	margin: 0px 0px 0px 0px;
	padding: 8px 20px 8px 25px;
	font-size: 10px;
	color: #fff;
	text-align: left;
	clear: both;

}

/* forms */

label,button,input[type="submit"] {
	cursor:pointer;
}

input,textarea {
	padding:.1em;

}

textarea {
	font:1em verdana,arial,sans-serif;
}

.formSpan {
	display:block;
	margin: 1.25em;
}

Form {
	padding: 0px;
	margin: 0px;
}

/* The following styles are for the blog.
* Remember, if a CSS property is already defined in blog.css,
* you must use the !important rule.
*/

/*
* blog entry container
*/
.fwBlogEntryDisplay {
	/*border-top: solid 5px #002255 !important;*/
	border-bottom: 0 !important;
	margin: 15px 0px 20px 0px !important;
	padding: 0px !important;
}

/*
* blog entry title
*/
.fwBlogEntryTitle {
	font: normal 24px arial !important;
	/*color: #fff !important;*/
	margin: 0px 0px 0px 0px !important;
	padding: 15px 0px 0px 0px !important;
	letter-spacing: -1px !important;
}

/*
* blog entry date
*/
.fwBlogEntryDate {
	font: bold 12px verdana, arial !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	/*color: #fff;*/
}

.fwBlogEntryDate BR {
	display: none;
}

/*
* blog entry body
*/
.fwBlogEntryBody {
	padding: 0px 0px 5px 0px !important;
	margin: 0px 0px 5px 0px !important;
}


/*
* blog comments
*/
.fwBlogCommentContainer{
	/*border-top: solid 5px #002255 !important; */
	border: none !important;
	padding: 8px !important;
	margin: 10px 0px 0px 0px !important;
}

#commentPagination .fw-pagination a.prev, #commentPagination .fw-pagination a.prev:hover,
#commentPagination .fw-pagination a.next, #commentPagination .fw-pagination a.next:hover { color: #fff; }

